/*@font-face {*/
/*    font-family: "BYekan";*/
/*    src: url("../fonts/BYekan-webfont.eot") format("eot"),*/
/*        url("../fonts/BYekan-webfont.woff") format("woff"),*/
/*        url("../fonts/BYekan-webfont.ttf") format("truetype");*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/
body{
    background-color:black !important;
}

.input-border{
    border: none;
    border-bottom:1px solid white !important;
    border-radius: 5px;
    background-color:black;
    color:white !important;
}
.input-border::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.75; /* Firefox */
}
.no-border{
    border: none !important;
}
textarea:focus,.gradient-background:focus {
    border: 1px solid #b0b00b !important;
    box-shadow: 0px 0px 10px 2px #b0b00b;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(80,80,80,0.15479695296087181) 0%, rgba(117,117,117,1) 100%);
}
.form-border{
    border: 1px solid white !important;
    box-shadow:0px 0px 10px 2px  #b0b00b;
}
.border-radius{
    border-radius: 5px;
}